html {
    font-family: 'Fira Sans', sans-serif;
    background-color: #F0ECEE;
    background-image: url("bulldog.jpg"); 
}

div {
    display: flexbox;
    flex-flow: row wrap;  
}

.header {
    
}

.nav {
color: #88898B;
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
}

.nav:hover {

}

a {
    text-decoration: none;
}

.button {
    background-color: #FF4850;
    padding: 10px;
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: column;
    }
}